name: dotnet package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '5.0.x'
      - name: Install dependencies
        run: dotnet restore BankService.sln
      - name: Build
        run: dotnet build Bank.ApiWebApp --configuration Release --no-restore
      - name: Test
        run: dotnet test Bank.ModuleTests --no-restore --logger:"trx;LogFileName=test-results.trx"
      - name: Upload dotnet test results
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: test-results.trx
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
